# Python
__pycache__/
*.py[cod]

# Virtual environments
.venv/
venv/

# Environment variables
.env

# Database
db.sqlite3

# Static files
staticfiles/

# VS Code
.vscode/

# OS files
.DS_Store
Thumbs.db